.bg-celeste {
  background-color: #eff6f8;
  margin: auto;
  padding: 10px 0px;
  width: 100%;
}

.comienzo {
  display: block;
  padding: 2%;
}

.cabeza {
  font-style: italic;
  font-size: 3rem;
}

.conocimiento {
  display: block;
  padding: 2%;
  margin: 2em;
}

.ubicacion {
  display: block;
  padding: 2%;
  margin: 2em;
}

h1 {
  color: #ffa2ff;
  display: block;
  font-size: 2.6rem;
  text-align: center;
}

.tarjetaTitulo {
  font-size: 2rem;
}

.tarjeta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

h2 {
  color: #ffa2ff;
  font-size: 2rem;
  text-align: center;
  word-spacing: 20px;
}

h3 {
  color: #ffa2ff;
  font-size: 2rem;
  text-align: center;
  word-spacing: 20px;
}

.carousel-inner img {
  margin: auto;
  border: 2px solid black;
}

.galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2%;
  padding: 2%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.galeria p {
  font-size: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.espacio {
  padding: 20px;
}

.seccion {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 200px;
}

div i {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

form {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  border: 2px solid black;
  margin: 10%;
  padding: 5%;
}

.boton {
  width: 100px;
  background-color: mediumslateblue;
}

p {
  font-size: 1.4rem;
  font-family: 'Crimson Text', serif;
  line-height: 30px;
  border-radius: 20px;
}

.footerTexto {
  text-align: center;
  font-weight: 500;
}

.separador {
  margin: 5%;
}

.espacioGaleria {
  padding: 5%;
}
