.bg-celeste{
    background-color: rgb(239, 246, 248);
    margin: auto;
    padding: 10px 0px;
    width: 100%;

}
main {
    p {
        border-radius: 12px;
        border: solid #FFA2FF 2px;
        padding: 5px;
    }
}
.comienzo{
    display: block;
    padding: 2%;
}
.cabeza{
    font-style: italic;
    font-size: 3rem;
}
.conocimiento{
    display: block;
    padding: 2%;
    margin:  2em  ;
    
}
.ubicacion{
    display: block;
    padding: 2%;
    margin: 2em;
}
h1{
    color: #ffa2ff;
    display: block;
    font-size: 2.6rem;
    text-align: center;
}
.promocion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tarjetaTitulo{
    font-size: 1.7rem;
}
.tarjeta{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.textoDeLasTarjetas{
    height: 5550px;
    font-size: 1.3rem;
}
.separarTarjetas{
    margin: 10px 0px;
}
h2{
    color: #ffa2ff;
    font-size: 1.9rem;
    text-align: center;
    word-spacing: 20px;
}
h3{
    color: #ffa2ff;
    font-size: 1.8rem;
    text-align: center;
    word-spacing: 20px;
}
.carousel-inner img{
    margin: auto;
    border: 2px solid black;
}
.galeria{
    display: flex;
    margin: 2%;
    padding: 2%;
    flex-flow: column nowrap;
    flex: 1;
    align-items: center;
    p{
        font-size: 2rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}
.espacio{
    padding: 20px;
}
.seccion{
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction:column;
    width: 200px;
}
div{
    i{
        font-size: 2rem;;
    }
}
form{
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    border: 2px solid black;
    margin: 10%;
    padding: 5%;
}
.boton{
    width: 100px;
    background-color: mediumslateblue;
}
p{
    font-size: 1.4rem;
    font-family: 'Crimson Text', serif;
    line-height: 30px;
    text-align: center;
}

.footerTexto {
    text-align: center;
    font-weight: 500;
}
.separador{
    margin: 5%;
}
.espacioGaleria{
    padding: 5%;
}